<section class="vh-100 main">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="logiForm">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input formControlName="email" type="email" id="form3Example3"
                            class="form-control form-control-lg" placeholder="Enter a valid email address" />
                    </div>
                    <div *ngIf="logiForm.controls['email'].touched&&logiForm.controls['email'].errors" class="mb-4 error">
                        <div>Invalid Email</div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input formControlName="password" type="password" id="form3Example4"
                            class="form-control form-control-lg" placeholder="Enter password" />
                    </div>
                    <div *ngIf="logiForm.controls['password'].touched&&logiForm.controls['password'].errors" class="mb-4 error">
                        <div>Invalid Password</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div *ngIf="!vaildUser" class="mb-4 error">
                            <div>Invalid Email or Password</div>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <div class="button">
                            <button (click)="submit()" [disabled]="logiForm.invalid" mat-raised-button>{{btnLabel ? 'Login' : 'Register'}}</button>
                        </div>
                        <p class="small fw-bold mt-2 pt-1 mb-0 pointer"> {{btnLabel ? " Don't have an account?" : 'Have an account?'}}
                            <span class="link-danger" (click)="setBntLabel()">{{btnLabel ? 'Register' : 'Login'}}</span>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>