/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-27 {
    width: 27%;
}
.mar-30{
     margin-top: 30px;
}
.pointer {
    cursor: pointer;
}
.error {
    margin-top: 8px;
    color: red;
    font-size: 13px;
    margin-left: 3px;

}